
<%= form_for :poker_session, url: user_poker_session_index_path do |f| %>
  <p>
    <%= f.label :date_played %>
    <%= f.date_field :date_played %>
  </p>

  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>
