
<table>
  <th>ID</th>
  <th>Date Played</th>
  <% poker_sessions.each do |poker_session| %>
    <tr>
      <td><%= poker_session.id %></td>
      <td><%= poker_session.date_played %></td>
      <td><%= link_to "Edit", edit_user_poker_session_path(current_user.id, poker_session.id)  %></td>
    </tr>
  <% end %>
</table>

