<nav class="navbar navbar-light bg-light navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Our Logo</a>
  </div>
  <form class="form-inline">
    <%= render 'layouts/navigation/user_login_status_links' %>
  </form>
</nav>
