<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Our Logo</a>
  <form class="form-inline">
    <%= render 'layouts/navigation/user_login_status_links' %>
  </form>
</nav>
